<div>
    <span>
        <i class="fa fa-info-circle"></i>
        <span style="color: darkblue;font-family: Verdana, Geneva, Tahoma, sans-serif"> Détails de la formation / 
            <b >{{formation.codeFormation}}</b>
        </span>
    </span>
</div>
<hr>
<div class="row container-fluid">
    <div class="col">
        <ul class="list-group">
            <li class="list-group-item justify-content-between">
                Code Formation
                <span class="badge badge-default badge-pill">{{formation.codeFormation}}</span>
            </li>
            <li class="list-group-item justify-content-between">
                Nom
                <span class="badge badge-default badge-pill">{{formation.nomFormation}}</span>
            </li>
            <li class="list-group-item justify-content-between">
                Double diplôme
                <span class="badge badge-default badge-pill">{{formation.doubleDiplome}}</span>
            </li>
        </ul>
    </div>
    <div class="col">
        <ul class="list-group">
            <li class="list-group-item justify-content-between">
                Nombre d'année
                <span class="badge badge-default badge-pill">{{formation.n0Annee}}</span>
            </li>
            <li class="list-group-item justify-content-between">
                Début accréditation
                <span class="badge badge-default badge-pill">{{formation.debutAccreditation}}</span>
            </li>
            <li class="list-group-item justify-content-between">
                Fin accréditation
                <span class="badge badge-default badge-pill">{{formation.finAccreditation}}</span>
            </li>
        </ul>
    </div>
</div>
<br>
<br>